@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  color: white;
  background-color: rgb(21, 21, 21);
  background-image: url("/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.221);
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #f5cbc84d;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 200, 0, 0.611);
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(0, 123, 210, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  );
}
